<h4>Log in here!</h4>

<%= erb :_errors, locals: {errors: @errors} %>

<form method="post" action="/sessions">
	<input type="text" name="username" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<input type="submit" value="log in">
</form>

Not a member? <a href="/users/new">Register here</a>!