Add a comment:
<form method="post" action="/posts/<%= @post.id %>/comments">
	<textarea name="comment[body]" placeholder="Write your comment here"></textarea>
	<input type="submit" value="save">
</form>