<h4>welcome to EggBlog, where you can explore nests and create your own eggs</h4>

<a class="create-button" href="/posts/new">create egg</a>

<% Post.all.each do |post| %>
	<a class="blog-intro" href="/posts/<%= post.id %>">
	<%= post.title + '  (  ' + post.body[0...40] + '...'  + '  )  '%>
	</a>
<% end %>
</ul>