Create a post here!

<form method="post" action="/posts">
	<input type="text" name="post[title]" placeholder="Title">
	<textarea name="post[body]" placeholder="Write your post here!"></textarea>
	<input type="text" name="tags" placeholder="separate tags with a single space">
	<input type="submit" value="Post">
</form>