<%= erb :_errors, locals: {errors: @errors} %>

<form class="new-post post-form pure-form pure-form-stacked" method="post" action="/posts">
	<input type="text" name="post[title]" placeholder="Title">
	<textarea name="post[body]" placeholder="Write your post here!"></textarea>
	nests: <input type="text" name="tags" placeholder="separate nests with a single space">
	<input type="submit" value="Post">
</form>