<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <h1>EggBlog</h1>
  <nav>
    <a href="/">home</a>
    <% if !logged_in? %>
      <a href="/users/new"> register </a>
      <a href="/sessions/new"> log in </a>
    <% else %>
      <a href="/users/<%= current_user.id %>"><%= current_user.username.downcase %></a>
      <form method="post" action="/sessions">
        <input type="submit" value="Log Out">
        <input type="hidden" name="_method" value="delete">
      </form>
  </nav>
  <%= yield %>
</body>
</html>
